Source: maze-dns
Section: net
Priority: extra
Maintainer: Wijnand Modderman-Lenstra <maze@pyth0n.org>
Build-Depends: debhelper (>= 8.0.0),
               dh-golang,
               golang-pq-dev,
               golang-go,
               golang-godebiancontrol-dev,
               golang-codesearch-dev
Standards-Version: 3.9.2
#Vcs-Git: git://git.debian.org/collab-maint/dcs.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/dcs.git;a=summary

Package: maze-dns
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, dpkg-dev
Built-Using: ${misc:Built-Using}
Description: PowerDNS backend


